.main-content-about-contact-success {
    min-height: 250px;
}

.main-content-about-contact-success > * {
    flex: 1;
}

.main-content-about-contact-success p {
    max-width: 60%;  
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-map {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-map iframe {
    border-radius: 50px;
    outline: 2px solid var(--object-background);
    box-shadow: 0px 5px 10px 1px gray;
}