.contact_page {
    background-color: #D9D9D9;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    margin: 20px auto;
    min-height: 250px;
    outline: 2px solid #A7B5BF;
}

.contact_page > * {
    flex: 1;
}

.contact_page p {
    max-width: 60%;  
    margin-left: auto;
    margin-right: auto;
}

.contact_page_map {
    padding-bottom: 30px;
}

.contact_page_map iframe {
    border-radius: 50px;
    outline: 2px solid #BCBCBC
    ;
}
