.main-content-about-contact-success {
    min-height: 250px;
}

.main-content-about-contact-success h3 {
    padding-top: 35px;
    max-width: 355px;
    align-self: center;
}

.main-content-about-contact-success p {
    align-self: center;
}

.contact-info{  
    width: 116px;
    align-self: center;
}

.other-p {
    width: 255px;
}

.contact-form {
    display: block;
}

.contact-form-titel {
    background: var(--object-background);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    width: 308px;
    padding: 5px;
    display: inherit;
    left: 50%;
    transform: translate(-50%);
    position: relative;
}

.contact-form form {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: var(--object-background);
    height: auto;
    z-index: 3;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 10px;  
    max-width: 300px;
}

.contact-form form :is(input, select, textarea) {
    width: 250px;
    border-radius: 5px;
}

.form-content {
    display: block;
    padding: 20px 30px;
    padding-top: 0;
}

#contact-menu {
    display: none;
}

#contact-menu:checked ~ form { 
    display: grid;
    justify-items: center;
}

.contact-page-map {
    padding-bottom: 30px;
}

.contact-page-map iframe {
    border-radius: 50px;
    outline: 2px solid var(--object-background);
    box-shadow: 0px 5px 10px 1px var(--box-shoadow);
}
