/*Index page*/
.searchbar-group {
    top: 235px;
}

/*
.searchbar {
    width: 290px;
}*/

.index-margin {
    padding: 250px 10px 10px 10px;
}

.index-page {
    display: grid;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.top-img-index {
    display: none;
}

.popular-titel {
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -15px;
}

.popular-titel span{
    background-color: var(--transparent-text-background);
    padding: 5px;
    border-radius: 10px;
}

.center-index {
    display: grid;
    justify-items: center;
}

.popular-products,
.outdoors-products,
.skiing-products,
.canoeing-produckts {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
}

.product-name {
    padding-left: 10px;
}

.price {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    justify-self: end;
}

.oudoors-titel,
.skiing-titel,
.canoeing-titel {
    position: relative;
    max-width: 1000px;
    margin-bottom: 15px;  
    margin-left: 5px;
    margin-right: 5px;
}

.oudoors-titel img,
.skiing-titel img,
.canoeing-titel img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    outline: 2px solid var(--content-img-border);
}

.oudoors-titel-text,
.skiing-titel-text,
.canoeing-titel-text {
    position: absolute;
    left: 50%;
    font-size: 1.5rem;
    top: 30px;
    transform: translate(-50%, -50%);
}

.oudoors-titel-text span,
.skiing-titel-text span,
.canoeing-titel-text span{
    background-color: var(--transparent-text-background);
    padding: 5px;
    border-radius: 10px;
}

.product-style {
    display: grid;
    grid-template-areas: "a" "b" "c";
    background-color: var(--object-background);
    border-radius: 10px;
    padding: 0;
    max-width: 300px;
    flex-shrink: 0;
}

/* reference: https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
.product-slide { 
    display: flex; 
    width: 340px;
    gap: 20px;
    overflow-x: auto;
  scroll-behavior: smooth;
}

.slide-buttons .slide-style {
    border-radius: 50%;
    background-color: var(--main-border-color);
    border: 2px solid var(--object-background);
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 20px 15px 0px 15px;
}

.slide-buttons .slide-style:focus {
    background-color: var(--object-background);
    border-color: var(--main-border-color);
}

/*
.product-image {
    display: flex;
    justify-content: center;
    background-color: var(--header-footer-page-product);
    border-radius: 10px;
    min-width: 250px;
    padding: 20px;
}*/

/*
600+
.menu-grid a {
    font-size: 1.03rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px 7px 15px;
}*/
/*
nav {
    display: flex;
    justify-content: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 10px;
    width: 65%;
}

.menu-grid a {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 25px 7px 25px;
    border-top: none;
}

#bars-menu:checked ~ nav {
    display: flex;
    justify-content: center;
}

.border-left {
    display: inherit;
}

.border-left {
    border-left: 3px solid var(--main-border-color);
}/*

