/*Index page*/
.searchbar-group {
    top: 235px;
}

/*
.searchbar {
    width: 290px;
}*/

.index_margin {
    padding: 250px 10px 10px 10px;
}

.index_page {
    display: grid;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.top_img_index {
    display: none;
}

.popular_titel {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -15px;
}

.popular_titel span{
    background-color: #d9d9d9b2;
    padding: 5px;
    border-radius: 10px;
}

.center_index {
    display: grid;
    justify-items: center;
}

.popular_products,
.outdoors_products,
.skiing_products,
.canoeing_produckts {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
}

.product_name {
    padding-left: 10px;
}

.price {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    justify-self: end;
}

.oudoors_titel,
.skiing_titel,
.canoeing_titel {
    position: relative;
    max-width: 1000px;
    margin-bottom: 15px;  
    margin-left: 5px;
    margin-right: 5px;
}

.oudoors_titel img,
.skiing_titel img,
.canoeing_titel img{
    border-radius: 20px;
    outline: 2px solid #A7B5BF;
}

.oudoors_titel_text,
.skiing_titel_text,
.canoeing_titel_text {
    position: absolute;
    left: 50%;
    font-size: 1.5rem;
    top: 25px;
    transform: translate(-50%, -50%);
}

.oudoors_titel_text span,
.skiing_titel_text span,
.canoeing_titel_text span{
    background-color: #d9d9d9b2;
    padding: 5px;
    border-radius: 10px;
}

.product_style {
    display: grid;
    grid-template-areas: "a" "b" "c";
    background-color: #BCBCBC;
    border-radius: 10px;
    padding: 0;
    max-width: 300px;
    flex-shrink: 0;
}

/* reference: https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
.product_slide { 
    display: flex; 
    width: 340px;
    gap: 20px;
    overflow-x: auto;
  scroll-behavior: smooth;
}

.slide-buttons .slide-style {
    border-radius: 50%;
    background-color: #787878;
    border: 2px solid #BCBCBC;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 20px 15px 0px 15px;
}

.slide-buttons .slide-style:focus {
    background-color: #BCBCBC;
    border-color: #787878;
}

/*
.product_image {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    min-width: 250px;
    padding: 20px;
}*/

/*
600+
.menu_grid a {
    font-size: 1.03rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px 7px 15px;
}*/
/*
nav {
    display: flex;
    justify-content: center;
}

.menu_grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 10px;
    width: 65%;
}

.menu_grid a {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 25px 7px 25px;
    border-top: none;
}

#bars_menu:checked ~ nav {
    display: flex;
    justify-content: center;
}

.border-left {
    display: inherit;
}

.border-left {
    border-left: 3px solid #757373;
}/*