/*Index page*/

.top_img_index {
    display: none;
}

.popular_titel {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: -15px;
}

.popular_titel span{
    background-color: #d9d9d9b2;
    padding: 5px;
    border-radius: 10px;
}

.popular_products,
.outdoors_products,
.skiing_products,
.canoeing_produckts {
    display: flex;
    justify-content: center;
    padding: 20px;
    grid-gap: 80px;
}

.product_style img {
    max-height: 150px;
    max-width: 120px;
}

.product_style p {
    font-size: 1.5rem;
    margin: 10px;
}

.product_name {
    padding-left: 10px;
}

.price {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.oudoors_titel,
.skiing_titel,
.canoeing_titel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: -10px;
}

.oudoors_titel img,
.skiing_titel img,
.canoeing_titel img{
    border-radius: 20px;
    outline: 2px solid #A7B5BF;
}

.oudoors_titel_text,
.skiing_titel_text,
.canoeing_titel_text {
    position: absolute;
    left: 50%;
    font-size: 3rem;
    top: 13%;
    transform: translate(-50%, -50%);
}

.oudoors_titel_text span,
.skiing_titel_text span,
.canoeing_titel_text span{
    background-color: #d9d9d9b2;
    padding: 5px;
    border-radius: 10px;
}

.product_style {
    background-color: #BCBCBC;
    border-radius: 10px;
    padding: 0;
    min-width: 300px;
}

.product_image {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    min-width: 250px;
    padding: 20px;
}