@media (max-width: 440px){
    .popular-titel { 
        font-size: 2.9rem;
    }
}

@media (max-width: 600px){
    .small-margin {
        padding: 20px 10px 10px 10px;
    }

    form :is(input, select, textarea) {
        width: 190px;
    }
}

@media (min-width: 600px){

    /*body, header and footer*/
    header {
        padding: 10px;
        grid-template-columns: auto 1fr auto;
        max-height: 105px;  
        padding-bottom: 53px;
    }

    header img,
    .searchbar-group,
    .no-searchbar {
        display: flex;
        flex-direction: column;
        position: inherit;
        transform: none;
        padding-bottom: 7px;
    }

    .logo-menu {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        margin-left: 30px;
    }

    .menu-button {  
        display: none;
    }
    
    #bars-menu:checked ~ nav {
        border: none;
        border-radius: 0;
    }
    
    nav {  
        display: flex;
        justify-content: center;
        top: 113px;
        left: 0;
        max-width: 100%;
        width: 100%;
    }

    .menu-grid {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
    }
    
    .menu-grid a {
        padding: 6px 15px 7px 15px;
        border-top: none;
    }

    .border-left {
        display: inherit;
        border-left: 3px solid var(--main-border-color);
    }

    footer h2 {
        font-size: 2.5rem;
    }

    footer a,
    footer p {
        font-size: 1.4rem;
    }

    /*index*/
    .index-margin {
        padding: 50px 10px 10px 10px;
    }

    .product-slide {
        width: 520px;
    }

    .slide-buttons .middle {
        display: none;
    }

    .outdoor-titel-text,
    .skiing-titel-text,
    .canoeing-titel-text {  
        font-size: 2.3rem;
        letter-spacing: 0.1rem;
        top: 45px;
    }

    /*outdoor*/
    .outdoor-margin {  
        padding: 50px 10px 185px 10px;
    }

    .outdoor-img-edit h1{
        font-size: 3rem;
    }

    .filter-search {
        justify-self: auto;
    }

    .outdoor-search {
        display: none;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
    }

    /*
    .outdoors-section-products {
        grid-template-columns: repeat(3, 1fr);
    }*/

    /*product*/
    .main-content-product {
        margin: 70px auto;
    }

    .content-size-products {
        width: 500px;
    }

    .color-selection :is(label, input) {
        padding: 30px;
    }

    .check { 
        height: 45px;
        width: 21px;
        margin-left: 16px;
    }

    /*shopping cart*/
    .main-content-cart {
        max-width: 90%;
    }

    /*contact/about/success*/
    .success-product-grid {
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
    }

    .success-product-grid img{
        width: 60%;
    }

    .main-content-about-contact-success {
        margin: 20px auto;
        max-width: 80%;
        padding: 20px;
    }
}


@media (min-width: 900px){
    .search-form input {
        width: 500px;
    }

    .searchbar-group {
        width: unset;
    }

    .search-list {
        width: 547px;
    }

    .search-list-products{
        width: 500px;
        gap: 50px;
        padding-left: 150px;
    }
    
    .search-list-products:hover {
        width: 500px;
    }

    .menu-grid a {
        font-size: 1.4rem;
        padding: 6px 25px 7px 25px;
    }

    /*index*/
    .top-img-index {
        display: flex;
        position: relative;
        max-width: 1000px;
        margin: 40px auto;
    }
    
    .top-img-index img{
        border-radius: 20px;
        outline: 2px solid var(--content-img-border);
        box-shadow: 0px 5px 10px 1px gray;
    }
    
    .top-img-index-text-1,
    .top-img-index-text-2,
    .top-img-index-text-3 {
        position: absolute;
        font-family: "Bebas Neue";
        color: var(--header-footer-page-product);
        transform: translate(-50%, -50%);
    }
    
    .top-img-index-text-1 {  
        left: 27%;
        top: 30%;
        font-size: 3.7rem;
        text-shadow: 0px 5px 5px var(--background-dark-color);
    }
    
    .top-img-index-text-2 {
        left: 19.5%;
        top: 50%;
        font-size: 1.2rem;
    }
    
    .top-img-index-text-3 {  
        left: 18.3%;
        top: 70%;
    }

    .top-img-button {
        font-size: 1.4rem;
        background-color: var(--header-footer-page-product);
        border: 1px solid var(--object-background);
        box-shadow: 0px 5px 10px 1px gray;
        display: flex;
        justify-content: center;
        min-width: 250px;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }

    .product-slide {
        display: grid;
        /* grid-template-columns: repeat(5, 1fr); */
        width: auto;
        gap: 2.5%;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .product-style p {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .slide-buttons {
        display: none;
    }

    /*outdoor site*/
    .outdoor-section {
    grid-template-areas: "b b" "a c" "a c";
    }
    
    .outdoor-img-text {
        top: 100px;
    }

    .outdoor-cropped {  
        height: 61%;
        object-fit: cover;
        object-position: 0px 0px;
        justify-self: center;
        align-self: center;
    }

    .filter-search {
        align-self: flex-start;
    }

    .filter-style {
        display: none;
    }

    .outdoor-filter {
        display: grid;
        position: inherit;
        margin-top: 35%;
        margin: 25px;
        margin-top: 50px;
    }

    /*product*/
    .content-size-products {
        width: auto;
    }

    .main-content-product {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "b a" 
        "b c" 
        "b d" 
        "b e";
    }

    .size-menu {
        min-height: 203px;
    }

    .size-bar {
        display: contents;
    }

    .angle-down-icon {
        display: none;
    }

    /*shopping cart*/
    .main-shopping-cart {
        flex-direction: row;
        grid-gap: 100px;
    }

    .products-in-cart {  
        /* grid-template-rows: repeat(3,1fr auto); */
        justify-items: center;
    }

    .products-in-cart-items {
        grid-template-columns: repeat(6,auto);
        grid-gap: 20px;
    }

    .delivery-titel {
        width: 462px;
    }

    #delivery-menu:checked ~ .delivery-menu {
        transform: none;
        left: unset;
    }

    .payment-style {
        justify-items: inherit;
    }

    .delivery-menu,
    .payment-menu,
    .card {
        width: 382px;
    }

    .delivery-form-titel,
    .payment-form-titel {   
        width: 386px;
    }

    .products-in-cart {
        grid-gap: 10px;
        width: 44%;
    }

    /*success*/
    .success-product-grid {
        grid-template-columns: repeat(6,auto);
    }

    .success-product-grid,
    .success-total {
        grid-gap: 20px;
    }

    /*about*/
    .main-content-about-contact-success {
        max-width: fit-content;
    }

    /*contact*/
    .contact-width {
        width: 800px;
    }
    
}
@media (min-width: 1000px){
    .product-success{
        position: relative;
    }
    .success-jacket-name {
        left: -65px;
    }
    .success-jacket-size{
        left: -55px;
    }
    .success-jacket-color{
        left: -25px;
    }
    .success-jacket-amount{
        left: -15px;
    }
}

@media (min-width: 1140px){
    /*index or ourtdoors*/
    .outdoor-img-text {
        top: 118px;
    }

    .content {
        grid-template-columns: repeat(4, 1fr);
    }

    /*
    .outdoors-section-products {
        grid-template-columns: repeat(4, 1fr);
    }
    */

    /*product*/
    .content-size-products {
        width: 950px;
    }
    
    /*shopping cart*/
    .main-content-cart {
        max-width: fit-content;
    }

    .main-content-cart img {
        width: 50%;
    }

    .delivery-form-titel,
    .payment-form-titel {   
        width: 450px;
    }

    .delivery-menu,
    .payment-menu,
    .card {
        width: 440px;
    }
}

@media (min-width: 1600px){
    .main-shopping-cart {
        padding: 0px 250px;
    }
}