@media (max-width: 600px){
    /*520*/
    .smal-margin {
        padding: 20px 10px 10px 10px;
    }

    .contact-form-titel {
        width: 270px;
    }

    /*
    form {
        max-width: 260px;
    }*/

    form :is(input, select, textarea) {
        width: 190px;
    }
}

@media (min-width: 600px){

    /*header*/
    header {
        padding: 10px;
        grid-template-columns: auto 1fr auto;
        max-height: 105px;  
        padding-bottom: 53px;
    }

    header img,
    .searchbar-group,
    .searchbar,
    .no-searchbar {
        display: flex;
        position: inherit;
        transform: none;
        padding-bottom: 7px;
    } 
    
    .product-menu-grid img {
        padding-bottom: 0;
    }


    .logo-menu {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        margin-left: 30px;
    }

    nav {  
        display: flex;
        justify-content: center;
        top: 113px;
        left: 0;
        max-width: 100%;
        width: 100%;
    }

    .menu-grid {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
    }
    
    .menu-grid a {
        padding: 6px 15px 7px 15px;
        border-top: none;
    }
    
    
    #bars-menu:checked ~ nav {
        border: none;
        border-radius: 0;
    }
    
    .border-left {
        display: inherit;
        border-left: 3px solid var(--main-border-color);
    }

    .menu-button {  
        display: none;
    }

    /*
    .menu-button-text {
        display: flex;
        align-items: center;
        grid-gap: 7px;   
        font-size: 1.1rem;
    }

    .menu-button-text p{
        display: flex;
    }*/

    /*
    .home {
        display: none;
    }*/

    .product-menu-grid {  
        display: flex;
        grid-gap: 5%;
        margin: 10px;
        align-content: center;
        align-self: center;
    }
    
    .product-menu-grid a {
        display: grid;
        background-color: #9D9D9D;
        border-radius: 10px;
        font-size: 20px;
    }
    
    .product-menu-grid img {
        border-radius: 0px 0px 10px 10px;
    }

    /*footer*/
    footer {
        display: flex;    
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 20px;
        text-align: center;
    }

    footer h2 {
        font-size: 2.5rem;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    footer a {
        font-size: 1.4rem;
        text-decoration: none;
    }

    /*index*/
    .slide-buttons .middle {
        display: none;
    }
    .index-margin {
        padding: 50px 10px 10px 10px;
    }

    .oudoors-titel-text,
    .skiing-titel-text,
    .canoeing-titel-text {  
        font-size: 2.3rem;
        letter-spacing: 0.1rem;
        top: 45px;
    }

    .outdoorsection h1{
        font-size: 3rem;
    }

    .product-slide {
        width: 520px;
    }

    /*outdoor*/
    .outdoor-search {
        display: none;
    }

    .filter-search {
        justify-self: auto;
    }

    .outdoors-section-products {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .outdoor-margin {  
        padding: 50px 10px 185px 10px;
    }

    /*product*/
    .main-content-product {
        margin: 70px auto;
    }

    .color-selection :is(label, input) {
        padding: 30px;
    }

    .check { 
        height: 45px;
        width: 21px;
        margin-left: 16px;
    }

    /*shopping cart*/
    .main-content-cart,
    .main-content-product {
        max-width: 90%;
    }

    /*contact/about/success*/
    .main-content-about-contact-success {
        margin: 20px auto;
        width: 500px;
    }

    
}


@media (min-width: 900px){
    .search-form input {
        width: 500px;
    }

    .menu-grid a {
        font-size: 1.4rem;
        padding: 6px 25px 7px 25px;
    }

    /*index*/
    .product-slide {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: auto;
        gap: 2.5%;
    }

    .slide-buttons {
        display: none;
    }

    .product-style p {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .top-img-index {
        display: flex;
        position: relative;
        max-width: 1000px;
        margin: 40px auto;
    }
    
    .top-img-index img{
        border-radius: 20px;
        outline: 2px solid var(--content-img-border);
        box-shadow: 0px 5px 10px 1px gray;
    }
    
    .top-img-index-text-1,
    .top-img-index-text-2,
    .top-img-index-text-3 {
        position: absolute;
        font-family: "Bebas Neue";
        color: var(--header-footer-page-product);
        transform: translate(-50%, -50%);
    }
    
    .top-img-index-text-1 {  
        left: 27%;
        top: 30%;
        font-size: 3.7rem;
        text-shadow: 0px 5px 5px var(--background-dark-color);
    }
    
    .top-img-index-text-2 {
        left: 19.5%;
        top: 50%;
        font-size: 1.2rem;
    }
    
    .top-img-index-text-3 {  
        left: 18.3%;
        top: 70%;
    }
    
    .top-img-button {
        font-size: 1.4rem;
        background-color: var(--header-footer-page-product);
        border: 1px solid var(--object-background);
        box-shadow: 0px 5px 10px 1px gray;
        display: flex;
        justify-content: center;
        min-width: 250px;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
    
    .top-img-index h3 {
        text-align: center;
    }

    .delivery-form-titel,
    .payment-form-titel {   
        width: 386px;
    }

    /*outdoor site*/

    .filter-search {
        align-self: flex-start;
    }

    .outdoor-filter {
        margin: 25px;
        margin-top: 50px;
    }

    .outdoor-cropped {  
        height: 61%;
        object-fit: cover;
        object-position: 0px 0px;
        justify-self: center;
        align-self: center;
    }

    .oudoors-titel-text h3 {
        font-size: 3rem;
    }

    .outdoor-section {
    grid-template-areas: "a b" "a c" "a c";
    }

    .outdoors-section-products {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter-style {
        display: none;
    }

    .outdoor-filter {
        display: grid;
        position: inherit;
        margin-top: 35%;
    }
    
    .outdoorsection {      
        margin: -44px -45px -60px -45px;
    }

    .outdoor-img-text {
        top: 100px;
    }

    /*product*/
    .main-content-product {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a c" "a d" "a e" "b f";
    }

    .size-menu {
        min-height: 203px;
      }

    .size-bar {
        display: contents;
    }

    /*shopping cart*/
    .delivery-menu,
    .payment-menu,
    .card {
        width: 382px;
    }

    .payment-style {
        justify-items: inherit;
    }

    .products-in-cart {
        grid-gap: 0px;
        width: 44%;
    }

    .main-shopping-cart {
        flex-direction: row;
        grid-gap: 100px;
    }

    .products-in-cart {  
        grid-template-rows: repeat(3,1fr auto);
    }

    #delivery-menu:checked ~ .delivery-menu {
        transform: none;
        left: unset;
    }

    .delivery-titel {
        width: 462px;
    }
    
}
@media (min-width: 1140px){
    .outdoors-section-products {
        grid-template-columns: repeat(4, 1fr);
    }

    .outdoor-img-text {
        top: 118px;
    }

    .main-content-cart,
    .main-content-product {
        max-width: 80%;
    }

    .delivery-form-titel,
    .payment-form-titel {   
        width: 450px;
    }

    .delivery-menu,
    .payment-menu,
    .card {
        width: 440px;
    }
}

@media (min-width: 1300px){
    /*product*/

    .content-size-products {
        max-width: 1200px;
    }
}