.main_content_product {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "a" "c" "d" "e" "f" "b";
    grid-gap: 15px;
    max-width: 1200px;
    padding: 20px;
    margin: 130px 10px 10px 10px;
    z-index: 2;
}

.grid_a img {
    width: 75%;
}

.product_description {
    background-color: #BCBCBC;
    border-radius: 10px;
    padding: 10px;
    max-width: 340px;
    text-align: left;
}

.Product_info {
    display: grid;
    justify-content: center;
}

    .product_center,
    .storm_product_info,
    .product_button {
        justify-self: center;
        align-self: center;
    }

    .storm_product_info {
        min-width: 82%;
    }

.product_name,
.product_price,
.color_selection,
.colors,
.size_bar,
.add_to_cart_button  {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
}

.product_price {
    border-top: 2px solid black;
    grid-gap: 50%;
    padding: 10px;
    padding-top: 10px;
    padding-top: 0;
}

.color_selection input,
.size_bar input {
    position: absolute;
    opacity: 0;
}

.color_selection :is(label, input) {
    display: flex;
    border-radius: 10px;
    padding: 25px;
}

.color_selection input:checked + label {
    box-shadow: 0px 5px 10px 1px gray;
    border: 1px solid #000000;   
    position: inherit;
}

.color_red label{
   background-color: #C90707;
}

.color_blue label{
    background-color: #0569FF;
}

.color_yellow label{
    background-color: #FEE504;
}

.color_black label{
    background-color: #000000;
}

.color_orange label{
    background-color: #D66700;
}

.color_selection p {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* reference: https://www.tutorialspoint.com/how-to-create-a-checkmark-tick-with-css */
.check { 
    display: flex;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    height: 40px;
    width: 15px;
    margin-left: 15px;
    transform: rotate(40deg);
    position: absolute;
    z-index: 1;
}

.lblack {
  border-bottom: 8px solid white;
  border-right: 8px solid white;
}

.color_red label,
.color_blue label,
.color_yellow label,
.color_black label,
.color_orange label {
   position: relative;
   z-index: 3;
}

#contact_menu {
    display: none;
}

#contact_menu:checked ~ .size_bar {
    display: block;
}

.size_bar {
    display: none;
    position: absolute;
    background: #D9D9D9;
    width: 40%;
    max-width: 150px;
    height: auto;
    z-index: 4;
}

.menu_grid {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
}

.product_menu_grid {  
    display: none;
}

.size_dropdown {
    display: block;
    padding: 20px 30px;
    font-size: 24px;
    padding-left: 0;
}

#bars_menu {
    display: none;
}

#bars_menu:checked ~ nav {
    display: block;
}

.size_menu {
    margin-bottom: 15px;
}

.size_bar_name,
.size_bar_sizes,
.size_bar_name_option {    
    display: block;
    min-width: 150px;
    text-align: center;
    background-color: #BCBCBC;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 5px;
}

.bar_start {
    border-radius: 5px 5px 0px 0px;
}

.bar_middle{
    border-radius: 0px;
}

.bar_end {
    border-radius: 0px 0px 5px 5px;
}

.size_bar_name_option:hover {
    background-color: #B6D982;
    box-shadow: 0px 5px 10px 1px gray;
}

.size_bar input:checked + label {
    background-color: #B6D982;
    box-shadow: 0px 5px 10px 1px gray;
}