.main-content-product {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "a" "b" "c" "d" "e";
    grid-gap: 15px;
    max-width: 1200px;
    padding: 20px;
    margin: 130px 10px 10px 10px;
    z-index: 2;
}

.storm-product-info,
.product-center,
.product-button {
    justify-self: center;
    align-self: center;
}

.grid-a img {
    width: 75%;
}

.storm-product-info {
    min-width: 82%;
}

.product-name,
.product-price,
.color-selection,
.colors,
.size-bar,
.add-to-cart-button  {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
}

.add-to-cart-button {
    flex-direction: column;
}

.product-price {
    border-top: 2px solid black;
    grid-gap: 50%;
    padding: 10px;
    padding-top: 10px;
    padding-top: 0;
}

.product-name-price-content{
    display: grid;
}

.product-info-content {
    display: grid;
    grid-template-areas:
    "a" 
    "b";
}

.product-description {
    background-color: var(--object-background);
    border-radius: 10px;
    padding: 10px;
    max-width: 340px;
    text-align: left;
}

.color-selection input,
.size-bar input {
    position: absolute;
    opacity: 0;
}

.color-selection :is(label, input) {
    display: flex;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
}

.color-selection input:checked + label {
    box-shadow: 0px 5px 10px 1px gray;
    border: 1px solid var(--black-color);   
    position: inherit;
}

h2,
p {
    font-size: 1rem;
}

.color-red label,
.color-blue label,
.color-yellow label,
.color-black label,
.color-orange label {
   position: relative;
   z-index: 3;
}

.color-red label{
   background-color: var(--red-check-back);
}

.color-blue label{
    background-color: var(--blue-check-back);
}

.color-yellow label{
    background-color: var(--yellow-check-back);
}

.color-black label{
    background-color: var(--black-color);
}

.color-orange label{
    background-color: var(--orange-check-back);
}

.red-wave {
    font-size: 0px;
}

.blue-wave {
    font-size: 0px;
}

.yellow-wave {
    font-size: 0px;
}

.black-wave {
    font-size: 0px;
}

.orange-wave {
    font-size: 0px;
}

/* reference: https://www.tutorialspoint.com/how-to-create-a-checkmark-tick-with-css */
.check { 
    display: flex;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    height: 40px;
    width: 15px;
    margin-left: 15px;
    transform: rotate(40deg);
    position: absolute;
    z-index: 1;
}

.lblack {
  border-bottom: 8px solid var(--white-color);
  border-right: 8px solid var(--white-color);
}

.size-menu {
    margin-bottom: 15px;
}

#product-size-menu:checked ~ .size-bar {
    display: block;
}

.size-bar-name,
.size-bar-sizes,
.size-bar-name-option {    
    display: block;
    min-width: 150px;
    text-align: center;
    background-color: var(--object-background);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.size-bar {
    display: none;
    background: var(--header-footer-page-product);
    width: 40%;
    max-width: 150px;
    height: auto;
    z-index: 4;
}

.size-bar-name-option:hover,
.size-bar input:checked + label {
    background-color: var(--weake-green-button);
    box-shadow: 0px 5px 10px 1px gray;
}

.bar-start {
    border-radius: 5px 5px 0px 0px;
}

.bar-middle{
    border-radius: 0px;
}

.bar-end {
    border-radius: 0px 0px 5px 5px;
}

.product-page-success{
    display: none;
}