/*shopping cart*/

.main-content-cart {
    margin: 100px 400px;
    padding: 15px;
    margin: 130px auto;
    z-index: 2;
}

.main-content-cart h1 {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 45px;
}

.sum-products h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.main-shopping-cart {
    text-align: center;
    display: flex;
    grid-gap: 50px;
    flex-direction: column;
}

.main-shopping-cart > * {
    flex: 1;
}

.products-in-cart {  
    display: grid;
    align-items: center;
    grid-gap: 30px;
}

.products-in-cart-items {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "a b c d";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.sum-products-items,
.products-pricing,
.sum-products-pricing,
.sum-products-total {
    display: grid;
}

.sum-products-items,
.sum-products-total {
    align-items: end;
}

.left-items {
    display: flex;  
    justify-content: center;
}

.products-image {
    display: flex;
    margin: 5px;
    width: 45px;
}

.nr-list {
    background-color: var(--object-background);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
}

.delivery-address,
.payment-method {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "a b c" "d e f";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;    
    justify-content: center;
}

.delivery-form-titel,
.payment-form-titel {
    display: block;
    background: var(--object-background);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    min-width: 85%;
    padding: 5px;
}

.payment-style {
    justify-items: center;
    display: grid;
}

#delivery-menu,
#payment-menu {
    display: none;
}

#delivery-menu:checked ~ .delivery-menu,
#card:checked ~ .card {
    display: grid;
    grid-gap: 10px;
    transform: translate(-50%);
    left: 50%;
}

#payment-menu:checked ~ .payment-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delivery-menu,
.payment-menu,
.card {
    display: none;
    position: absolute;
    background: var(--object-background);
    width: 81%;
    height: auto;
    z-index: 3;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 10px;
}

.delivery-style {
    display: flex;
    justify-content: space-between;
}


.radio-card {
    display: block;
}

.card-paypal {
    display: flex;
    width: 0;
    padding-left: 30%;
}

.card {
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    width: 96%;
    margin-top: 25px;
}

.delivery-menu input,
.card input {
    width: 50%;
    border-radius: 5px;
}

.sum-products {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.sum-products h3 {
    font-size: 1.8rem;
}

.right-items {
    margin: 5%;
}

.sum-info {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "a b c" "d e f" "g h i" "j k l";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.cart-info-style {
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 1.1rem;
}

.sum-products-pricing {
    grid-template-rows: 1fr 1fr;
}

.cart-buttons {
    display: flex;
    flex-direction: column;
    align-self: end;
    grid-gap: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
