.main-content-cart {
    margin: 100px 400px;
    padding: 15px;
    margin: 130px auto;
    z-index: 2;
}

.main-content-cart h1 {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 45px;
}

.main-shopping-cart {
    text-align: center;
    display: flex;
    grid-gap: 50px;
    flex-direction: column;
}

.main-shopping-cart > * {
    flex: 1;
}

.products-in-cart {  
    display: grid;
    align-items: center;
    grid-gap: 30px;
}

.products-in-cart-items {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    align-items: end;
    align-content: space-between;
    padding: 10px 5% 0px 5%;
}

.product-amount-style{
    padding: 0px 5px;
}

.amount-buttons{
    margin: 15px;
}

.amount-buttons-style{
    border-radius: 25%;
}

.minus {
    background-color: var(--red-check-back);
    padding: 1px 6px;
}

.pluss {
    background-color: var(--strong-green-button);
}

.font-style-size {
    text-transform: uppercase;
}

.cart-info-style {
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 1.1rem;
}

.nr-list {
    background-color: var(--object-background);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
}

.delivery-address,
.payment-method {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "a b c" "d e f";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;    
    justify-content: center;
}

#delivery-menu:checked ~ .delivery-menu,
#card:checked ~ .card {
    display: grid;
    grid-gap: 10px;
}

#card:checked ~ .card {
    transform: translate(-50%);
    left: 50%;
}

#payment-menu:checked ~ .payment-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delivery-form-titel,
.payment-form-titel {
    display: block;
    background: var(--object-background);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    min-width: 85%;
    padding: 5px;
}

.delivery-menu,
.payment-menu,
.card {
    display: none;
    position: absolute;
    background: var(--object-background);
    width: 81%;
    height: auto;
    z-index: 3;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 10px;
}

.delivery-menu input,
.card input {
    width: 50%;
    border-radius: 5px;
}
.delivery-menu {
    position: inherit;
    width: auto;
}

.delivery-style {
    display: flex;
    justify-content: space-between;
}

.payment-style {
    justify-items: center;
    display: grid;
}

.card-paypal {
    display: flex;
    width: 0;
    padding-left: 30%;
}

.radio-card {
    display: block;
}

.card {
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    width: 96%;
    margin-top: 25px;
}

.sum-products {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.sum-products h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.sum-info {
    display: grid;
    /* grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "a b c" "d e f" "g h i" "j k l"; */
    align-content: space-between;
    height: fit-content;
    padding-right: 5%;
    padding-left: 5%;
}

.products-list {
    display: grid;
    grid-template-areas:
    "a b c";
    grid-template-columns: 1fr 2fr 2fr;
}

.product-sum-price {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
    "d e f" 
    "g h i" 
    "j k l";
    width: inherit;
}

.cart-buttons {
    display: flex;
    flex-direction: column;
    align-self: end;
    grid-gap: 50px;
    margin-bottom: 100px;
    margin-top: 235px;
}