/*shopping cart*/

.main_content_cart {
    margin: 100px 400px;
    padding: 15px;
    margin: 130px auto;
}

.main_content_cart h3 {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    margin-bottom: 0;
}

.main_shopping_cart {
    text-align: center;
    display: flex;
    grid-gap: 50px;
    flex-direction: column;
}

.main_shopping_cart > * {
    flex: 1;
}


.products_in_cart {  
    display: grid;
    align-items: center;
    grid-gap: 30px;
}

.products_in_cart_items {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "a b c d";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.sum_products_items,
.products_pricing,
.sum_products_pricing,
.sum_products_total {
    display: grid;
}

.sum_products_items,
.sum_products_total {
    align-items: end;
}

.left_items {
    display: flex;  
    justify-content: center;
}

.products_image {
    display: flex;
    margin: 5px;
    width: 45px;
}

.nr_list {
    background-color: #BCBCBC;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
}

.delivery_address {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a" "b";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;  
    grid-gap: 6px;
}

.delivery_form_titel,
.payment_form_titel {
    background: #BCBCBC;
    border: 1px solid #707070;
    border-radius: 5px;
    min-width: 85%;
    padding: 5px;
}

#delivery_menu,
#payment_menu {
    display: none;
}

#delivery_menu:checked ~ .delivery_menu,
#card:checked ~ .card {
    display: grid;
    grid-gap: 10px;
}

#payment_menu:checked ~ .payment_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delivery_menu,
.payment_menu,
.card {
    display: none;
    position: absolute;
    background: #BCBCBC;
    width: 78%;
    height: auto;
    z-index: 3;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 10px;
}

.delivery_style {
    display: flex;
    justify-content: space-between;
}

.payment_menu {
    top: 249px;
}

.radio_card {
    display: block;
}

.card_paypal {
    display: flex;
    width: 0;
    padding-left: 30%;
}

.card {
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    width: 93%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 90px;
}

.delivery_menu input,
.card input {
    width: 55%;
    border-radius: 5px;
}

.sum_products {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.sum_products h3 {
    font-size: 1.8rem;
}

.right_items {
    margin: 5%;
}

.sum_info {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "a b c" "d e f" "g h i" "j k l";
    align-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.cart_info_style {
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 1.1rem;
}

.sum_products_pricing {
    grid-template-rows: 1fr 1fr;
}

.cart_buttons {
    display: flex;
    flex-direction: column;
    align-self: end;
    grid-gap: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
