

img {
    width: 100%;
}

a {
    color: #000000;
}

/*
main {
    background-image: url(../images/tony-reid-eMaS4mzaksU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.image_filter {
    backdrop-filter: blur(5px);
    background-image: url(../images/peter-conrad-lPJwSo7VeXM-unsplash.jpg);
    background-size: contain;
    background-repeat: repeat;
    opacity: 0.33;
}*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100vh;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
header img {
    max-width: 200px;
}

header,
footer{
    background-color: #D9D9D9;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    text-align: center;
}

h4 {
    font-size: 2rem;
    text-decoration: underline;
    font-variant-caps: all-petite-caps;
}

/*Navigation*/

nav{
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    background: #D9D9D9;
    width: 100%;
    height: auto;
}

nav ul{
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
}

#bars_menu {
    display: none;
}

#bars_menu:checked ~ nav {
    display: block;
}