@import "variables.css";

body {
    animation-name: page-animation;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background-color: var(--background-dark-color);
    opacity: 0;
}

@keyframes page-animation {
    0% {opacity: 0;}
    20% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

img {
    width: 100%;
}

a {
    color: var(--black-color);
}

.main-content-about-contact-success p {
    font-size: 1.3rem;
}

main {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
}


/* reference: How to make a background-image transparent in CSS: https://www.youtube.com/watch?v=LQsjNmkqUOc */
main::before,
main::after,
.background-color::before {
    content: "";
    position: absolute;
     top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-size: cover;
    background-position: top center;
}

main::before {
    background-image: url(../images/tony-reid-eMaS4mzaksU-unsplash.jpg);
    filter: blur(3px);
    opacity: 0.8;
}

main::after {
    background-image: url(../images/peter-conrad-lPJwSo7VeXM-unsplash.png);
    background-size: 1200px;
    opacity: 0.5;
    filter: brightness(40%);
}

.background-color::before {
    background-color: var(--black-color);
    opacity: 0.25;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    mix-blend-mode: color-burn;
}

header img,
.searchbar-group {
    max-width: 200px;
    position: absolute;
    left: 50%;
    top: 125px;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.searchbar::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.searchbar-group {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--object-background);
    box-shadow: 0px 5px 10px 1px var(--box-shoadow);
    border-radius: 5px;
    padding: 0px 5px;
    width: max-content;
    max-width: 100%;
}

.search-form {
    display: flex;
    flex-direction: row-reverse;
}

.search-form input {
    width: 245px;
}

.searchbar {
    max-width: 500px;
    background-color: transparent;
    padding: 10px;
    border: 0;
    font-size: 1.1rem;
}

.searchbar:focus::placeholder {
    color: transparent;
} 

.magnifying-glass {  
    background-color: transparent;
    padding: 5px;
    border-radius: 40%;
    border: 0;
    height: 37px;
    width: 37px;
    margin-right: 0px;
    font-size: 1.3rem;
    
}

.no-searchbar {
    display: none;
}

.shop-cart-icon {
    padding-right: 20px;
    font-size: 30px;
}

/*
.searchbar {
    top: 200px;
    min-width: 25%;
}*/



header,
footer{
    background-color: var(--header-footer-page-product);
}

footer {
    display: none
}

.main-content-about-contact-success {
    max-width: 500px;
    margin: 130px auto;
    z-index: 2;
}

.content-background {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--header-footer-page-product);
    border-radius: 10px;
    outline: 2px solid var(--content-img-border);
    box-shadow: 0px 5px 10px 1px gray;
}

.bottom-border{
    border-bottom: 2px solid black;
}

.bold {
    font-weight: bold;
}

.bar-start {
    border-radius: 5px 5px 0px 0px;
}

.bar-middle{
    border-radius: 0px;
}

.bar-end {
    border-radius: 0px 0px 5px 5px;
}

.product-image {
    display: flex;
    justify-content: center;
    background-color: var(--header-footer-page-product);
    border-radius: 10px;
    padding: 20px;
    align-self: start;
}

.product-style img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.product-style p {
    font-size: 1rem;
    margin: 3px;
    max-width: 124px;
}

/*Navigation*/

/*
.menu-button-text {
    font-size: 2rem;
}

.menu-button-text p {
    display: none;
    font-size: 2rem;
}*/



.product-menu-grid {  
    display: none;
}

nav li {
    display: block;
    padding: 20px 30px;
    font-size: 24px;
    padding-left: 0;
}

.menu-button {  
    font-size: 2rem;
    padding-left: 10px;
}

nav{
    display: none;
    position: absolute;
    top: 58px;
    left: 4px;
    background: var(--header-footer-page-product);
    width: 40%;
    max-width: 150px;
    height: auto;
    z-index: 4;
}

.menu-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto;
    padding: 10px;
    width: 65%;
    justify-content: center;
}

.menu-grid a {
    font-size: 1.03rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-top: 1px solid var(--main-border-color);
}

.border-left {
    display: none;
}

.menu-grid .home {
    border-top: none;
}

#bars-menu {
    display: none;
}

#bars-menu:checked ~ nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--main-border-color);
}

/* buttons*/

.button {
    border: 1px solid var(--slider-bar);
    box-shadow: 0px 5px 10px 1px var(--box-shoadow);
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 160px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-confirm {
background-color: var(--strong-green-button);
font-family: "Bebas Neue";
font-size: 24px;
}

.button-continue {
background-color: var(--weake-green-button);
font-family: 'Open Sans', sans-serif, Verdana, Tahoma;
}

/*font type*/

.sanse-font {
    font-family: 'Open Sans', sans-serif, Verdana, Tahoma;
}

.bebas-font {
    font-family: "Bebas Neue";
}

/*grid cells*/
.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b;
}

.grid-c {
    grid-area: c;
}

.grid-e {
    grid-area: e;
}

.grid-f {
    grid-area: f;
}

.grid-g {
    grid-area: g;
}

.grid-h {
    grid-area: h;
}

.grid-i {
    grid-area: i;
}

.grid-k {
    grid-area: k;
}

.grid-l {
    grid-area: l;
}