@import "variables.css";

/*body, header and footer*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100%;
    animation-name: page-animation;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background-color: var(--background-dark-color);
    opacity: 0;
}

@keyframes page-animation {
    0% {opacity: 0;}
    20% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header,
footer{
    background-color: var(--header-footer-page-product);
}

header img {
    mix-blend-mode: color-burn;
}

header img,
.searchbar-group {
    max-width: 200px;
    position: absolute;
    left: 50%;
    top: 125px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.searchbar-group {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--object-background);
    box-shadow: 0px 5px 10px 1px var(--box-shoadow);
    border-radius: 5px;
    padding: 0px 5px;
    width: max-content;
    max-width: 100%;
    top: 235px;
}

.no-searchbar {
    display: none;
}

.search-form {
    display: flex;
    flex-direction: row-reverse;
}

.search-form input {
    width: 245px;
}

.searchbar {
    max-width: 500px;
    background-color: transparent;
    padding: 10px;
    border: 0;
    font-size: 1.1rem;
}

.searchbar:focus::placeholder {
    color: transparent;
} 

.magnifying-glass {  
    background-color: transparent;
    padding: 5px;
    border-radius: 40%;
    border: 0;
    height: 37px;
    width: 37px;
    margin-right: 0px;
    font-size: 1.3rem;  
}

.shop-cart-icon {
    padding-right: 20px;
    font-size: 30px;
}

footer {
    display: none
}

/*main*/

main {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

/* reference: How to make a background-image transparent in CSS: https://www.youtube.com/watch?v=LQsjNmkqUOc */
main::before,
main::after,
.background-color::before {
    content: "";
    position: absolute;
     top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-size: cover;
    background-position: top center;
}

main::before {
    background-image: url(../images/tony-reid-eMaS4mzaksU-unsplash.jpg);
    filter: blur(3px);
    opacity: 0.8;
}

main::after {
    background-image: url(../images/peter-conrad-lPJwSo7VeXM-unsplash.png);
    background-size: 1200px;
    opacity: 0.5;
    filter: brightness(40%);
}

.background-color::before {
    background-color: var(--black-color);
    opacity: 0.25;
}

.product-style p {
    font-size: 1rem;
    margin: 3px;
    max-width: 124px;
}

.product-style img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.product-image {
    display: flex;
    justify-content: center;
    background-color: var(--header-footer-page-product);
    border-radius: 10px;
    padding: 20px;
    align-self: start;
}

.outdoor-titel,
.skiing-titel,
.canoeing-titel {
    position: relative;
    max-width: 1000px;
    margin-bottom: 15px;  
    margin-left: 5px;
    margin-right: 5px;
}

.outdoor-titel img,
.skiing-titel img,
.canoeing-titel img{
    border-radius: 20px;
    outline: 2px solid var(--content-img-border);
}

.outdoor-titel-text,
.skiing-titel-text,
.canoeing-titel-text {
    position: absolute;
    left: 50%;
    font-size: 1.5rem;
    top: 30px;
    transform: translate(-50%, -50%);
}

.outdoor-titel-text span,
.skiing-titel-text span,
.canoeing-titel-text span{
    background-color: var(--transparent-text-background);
    padding: 5px;
    border-radius: 10px;
}

.product-style {
    display: grid;
    grid-template-areas: "a" "b" "c";
    background-color: var(--object-background);
    border-radius: 10px;
    padding: 0;
    max-width: 300px;
    flex-shrink: 0;
}

.product-name {
    padding-left: 10px;
}

.price {
    text-align: right;
    padding-right: 10px;
    justify-self: end;
}

.content-background {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--header-footer-page-product);
    border-radius: 10px;
    outline: 2px solid var(--content-img-border);
    box-shadow: 0px 5px 10px 1px gray;
}

.main-content-about-contact-success {
    max-width: 500px;
    margin: 130px auto;
    z-index: 2;
}

.main-content-about-contact-success p {
    font-size: 1.3rem;
}
/* reference: https://blog.pope.tech/2020/02/28/missing-form-label-search/ */
.wave-form-lable-fix {
    position: absolute;
    overflow: hidden;
    left: -9999999px;
    top: auto;
}

/*Navigation or menu*/
.menu-button {  
    font-size: 2rem;
    padding-left: 10px;
}

#bars-menu,
#dropdown-menu,
#product-size-menu,
#delivery-menu,
#payment-menu,
#contact-menu {
    display: none;
}

#bars-menu:checked ~ nav {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--main-border-color);
}

nav{
    display: none;
    position: absolute;
    top: 58px;
    left: 4px;
    background: var(--header-footer-page-product);
    width: 40%;
    max-width: 150px;
    height: auto;
    z-index: 4;
}

.menu-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto;
    padding: 10px;
    width: 65%;
    justify-content: center;
}

.menu-grid a {
    font-size: 1.03rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-top: 1px solid var(--main-border-color);
}

.menu-grid .home {
    border-top: none;
}

.border-left {
    display: none;
}

/* buttons*/
.button {
    border: 1px solid var(--slider-bar);
    box-shadow: 0px 5px 10px 1px var(--box-shoadow);
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 160px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-confirm {
    background-color: var(--strong-green-button);
    font-family: "Bebas Neue";
    font-size: 24px;
}

.button-continue {
    background-color: var(--weake-green-button);
    font-family: 'Open Sans', sans-serif, Verdana, Tahoma;
}

/*img, text and font*/
img {
    width: 100%;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.bottom-border{
    border-bottom: 2px solid black;
}

.sanse-font {
    font-family: 'Open Sans', sans-serif, Verdana, Tahoma;
}

.bebas-font {
    font-family: "Bebas Neue";
}

/*grid cells*/
.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b;
}

.grid-c {
    grid-area: c;
}

.grid-e {
    grid-area: e;
}

.grid-f {
    grid-area: f;
}

.grid-g {
    grid-area: g;
}

.grid-h {
    grid-area: h;
}

.grid-i {
    grid-area: i;
}

.grid-k {
    grid-area: k;
}

.grid-l {
    grid-area: l;
}