.main-content-about-contact-success {
    min-height: 650px;
}

.main-content-about-contact-success > * {
    flex: 1;
}

.main-content-about-contact-success h1{
    font-size: 2.4rem;
}

h1 {
    padding-top: 15px;
}

.success-nr-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    padding-right: 5%;
    padding-left: 5%;
}

.success-nr-grid,
.success-grid-style,
.success-product-grid {
   display: grid;
   align-content: end;
    
}

/* .product-info {
    grid-template-columns: repeat(3,auto);
} */

.product-price {
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    gap: 20px;
}

.success-product-grid {
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.success-product-grid,
.success-total {
    margin: 10px 5%;
    padding: 5px 25px;
    justify-items: center;
}

.success-product-grid img{
    width: 80%;
}

.success-total{
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.delivery-info {
    max-width: 60%;  
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.continue-button {
    align-self: center;  
    margin-bottom: 20px;
}