.main_content {
    min-height: 650px;
}

.main_content > * {
    flex: 1;
}

.main_content h3{
    font-size: 20px;
}

.order_nr {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.order_product {
    align-items: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.delivery_info {
    max-width: 60%;  
    margin-left: auto;
    margin-right: auto;
}

.continue_button {
    align-self: center;
}